.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(235, 226, 226);
  flex-wrap: wrap;
}

.header.historyActive {
  color: black;
}

.logo {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(235, 226, 226);
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

.navLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    column-gap: 20px;
  }

  .nav {
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
  }
  .header.historyActive {
    color: rgb(235, 226, 226);
  }
}
