.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(235, 226, 226);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  flex-wrap: wrap;
  letter-spacing: 2px;
}

.header.historyActive {
  /* color: #000;
  text-shadow: -1px -1px 0 rgb(164, 158, 158), 1px -1px 0 rgb(164, 158, 158),
    -1px 1px 0 rgb(164, 158, 158), 1px 1px 0 rgb(164, 158, 158); */
  color: rgb(235, 226, 226);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logo {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(235, 226, 226);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

.navLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    column-gap: 20px;
  }

  .nav {
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
  }
  .header.historyActive {
    color: rgb(235, 226, 226);
  }
}
